{{ define "telegram.message" }}
{{ if eq .Status "firing" }}{{ if eq .CommonLabels.severity "critical" }}🔴{{ else if eq .CommonLabels.severity "warning" }}🟡{{ else }}🔵{{ end }}{{ else }}✅{{ end }} <b>{{ .CommonLabels.alertname }}</b>
{{ if eq .Status "firing" }}Status: <b>FIRING</b>{{ else }}Status: <b>RESOLVED</b>{{ end }}
{{ if .CommonLabels.namespace }}Namespace: <code>{{ .CommonLabels.namespace }}</code>
{{ end }}{{ if .CommonLabels.severity }}Severity: {{ .CommonLabels.severity }}
{{ end }}
{{ range .Alerts }}{{ if .Labels.instance }}Instance: <code>{{ .Labels.instance }}</code>
{{ end }}{{ .Annotations.description }}
{{ end }}
{{ end }}